<div>
    <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <style>
        p {
            font-family: 'Annie Use Your Telescope';
            font-size: 18px;
        }
    </style>
    <div class="row">
        <img class="col-md-6" src="assets/images/new.jpg" width="100px" height="300px">
        <p class="col-md-6">Hello there!<br><br>I'm Omolewa! Currently based in Fct-Abuja but ready to travel the world.
            <br><br> my style weaves together artistic portraiture, Lifestyle, Wedding, Products and pure fun.I have a long list of beautiful
            places to take you, an undaunted spirit to keep up with you on all your adventures, and an obsession with natural
            beauty that pours into my images. I'm fiercely invested in making sure you have an incredible experience from
            start to finish.
            <br>
            <br>I choose my clients as carefully as they choose me, because I believe in the perfect fit. No matter what we do
            together, we’re going to have an unforgettable adventure while telling your story.<br><br>Let's share an adventure, shall
            we? <br>xoxo</p>
    </div>
</div>