<div>
    <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
    <style>
        p {
            font-family: 'Annie Use Your Telescope';
            font-size: 18px;
        }

        h1 {
            font-family: 'Annie Use Your Telescope';
            font-size: 20px;
            text-align: center;
        }
    </style>
    <br>
    <br>
    <h1>Contact Omolewa</h1>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <img class="col-md-4" src="assets/images/new.jpg" width="100px" height="300px">
        <div class="col-md-4">
            <div class="row">
                <p class="col-md-12">I love what I do, so when people resonate with my photos it is the highest compliment.
                    <br>Fill in the form below please. Feel free to ask any kind of questions and make a proposal.
                    <br>Tell the date and the venue for the shoot.</p>
            </div>
            <!-- form user info -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header">
                        <h3 class="mb-0">Contact</h3>
                            <form class="form" role="form" autocomplete="off">
                                <fieldset>
                                    <label for="name2" class="mb-0">Name</label>
                                    <div class="row mb-1">
                                        <div class="col-lg-6">
                                            <input type="text" name="name2" id="name2" class="form-control" required="">
                                        </div>
                                    </div>
                                    <label for="email2" class="mb-0">Email</label>
                                    <div class="row mb-1">
                                        <div class="col-lg-6">
                                            <input type="text" name="email2" id="email2" class="form-control" required="">
                                        </div>
                                    </div>
                                    <label for="message2" class="mb-0">Message</label>
                                    <div class="row mb-1">
                                        <div class="col-lg-4">
                                            <textarea rows="6" name="message2" id="message2" class="form-control" required=""></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-secondary btn-lg float-right">Send Message</button>
                                </fieldset>
                            </form>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!-- /form user info -->